body{
    background-color: #fff8d6;
    font-family: 'Segoe UI';
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}

.header{
    display: flex;
    vertical-align: top;
}

.right-hadder{
    margin: auto;
}

.name{
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.pa{
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: aquamarine;
}

.contact{
    text-decoration: none;
    text-align: center;
    display: block;
    color:black;
}

.experience p{
    text-align: justify;
}